#**
*  
*#
## 
#set($docId = $doc.getFieldValue('BAZ001'))
<div class="result-document">
	#parse("chemical_doc.vm")
    #** 
    #if($doc.getFieldValue('name'))
        #parse("product_doc.vm")
        ## Has a "compName_s" field ?
     #elseif($doc.getFieldValue('compName_s'))
        #parse("join_doc.vm")
            ## Fallback to richtext_doc
     #else
        #parse("richtext_doc.vm")
	#end
	*#
</div>
