#**
 *  Paging and Statistics at bottom of results
 *#

## Usually rendered in pagination div tag

#if($response.response.get('grouped'))
  ## pass
#else

  #link_to_previous_page("&#x4E0A;&#x4E00;&#x9875;")

  &#x627E;&#x5230;<span class="results-found">$page.results_found</span>
  &#x6761;&#x8BB0;&#x5F55;  

  &#x7B2C; <span class="page-num">$page.current_page_number</span> &#x9875;
    &#x5171; <span class="page-count">$page.page_count</span> &#x9875;

  #link_to_next_page("&#x4E0B;&#x4E00;&#x9875;")

#end
<br/>
